@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 141 73% 42%;
    --primary-foreground: 355.7 100% 97.3%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 142.1 76.2% 36.3%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 20 14.3% 4.1%;
    --foreground: 0 0% 95%;
    --card: 24 9.8% 10%;
    --card-foreground: 0 0% 95%;
    --popover: 0 0% 9%;
    --popover-foreground: 0 0% 95%;
    --primary-foreground: 144.9 80.4% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 15%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 12 6.5% 15.1%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 85.7% 97.3%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 142.4 71.8% 29.2%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer base {
  :root {
    --background: 200 20% 98%;
    --btn-background: 200 10% 91%;
    --btn-background-hover: 200 10% 89%;
    --foreground: 200 50% 3%;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --background: 200 50% 3%;
      --btn-background: 200 10% 9%;
      --btn-background-hover: 200 10% 12%;
      --foreground: 200 20% 96%;
    }
  }
}

@layer base {
  * {
    @apply border-foreground/20;
  }
}

.animate-in {
  animation: animateIn 0.3s ease 0.15s both;
}

@keyframes animateIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.moodring {
  background: linear-gradient(
    270deg,
    #9505cd,
    #050995,
    #40e0d0,
    #ff1493,
    #20b2aa,
    #ffd700
  );
  background-size: 1200% 1200%;
  -webkit-animation: MoodRing 60s linear infinite;
  -moz-animation: MoodRing 60s linear infinite;
  -o-animation: MoodRing 60s linear infinite;
  animation: MoodRing 60s linear infinite;
}
@-webkit-keyframes MoodRing {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-moz-keyframes MoodRing {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-o-keyframes MoodRing {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes MoodRing {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* audio controls */
.rhap_stacked {
  @apply !flex !flex-col-reverse !gap-4;
}

.rhap_container {
  @apply !bg-transparent;
  @apply !px-2;
}

.rhap_play-pause-button svg path {
  @apply !fill-primary;
}

.rhap_volume-indicator {
  @apply !bg-secondary-foreground;
}

.rhap_progress-indicator {
  @apply !bg-primary;
}

.rhap_total-time,
.rhap_current-time {
  @apply !text-secondary-foreground;
  @apply !mx-2;
  @apply !tabular-nums;
}

.rhap_volume-controls {
  @apply !absolute !hidden;
}

.rhap_additional-controls {
  @apply !absolute !hidden;
}

.rhap_controls-section {
  @apply !mt-0 !flex-1 !items-center !justify-center;
}

.rhap_container {
  @apply !shadow-none;
}

.like-button .like-svg-path {
  transition: fill 0.3s ease;
}

.like-svg-path {
  @apply fill-card-foreground;
}

.like-button:hover .like-svg-path,
.like-button:active .like-svg-path {
  @apply fill-destructive;
}
